<!DOCTYPE html>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<EFModelTest.Models.Visitor>

<html>
	<head>
		<title>Learning ASP.NET Core</title>
	</head>
	<body>
		<h1>Registered Visitors</h1>
		<table border="1">
			<tr>
				<th>@Html.DisplayNameFor(model => model.Name)</th>
				<th>@Html.DisplayNameFor(model => model.Frequency)</th>
				<th>@Html.DisplayNameFor(model => model.Recent)</th>
			</tr>
		@foreach(var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Name)</td>
				<td>@Html.DisplayFor(modelItem => item.Frequency)</td>
				<td>@Html.DisplayFor(modelItem => item.Recent)</td>
			</tr>
		}
		</table>
		<p>
			<a asp-controller="Home" asp-action="Create">Register Visit</a>
		</p>
		@await Component.InvokeAsync("CountVisits", new {after = DateTime.MinValue, before = DateTime.Now})
	</body>
</html>




